@model IEnumerable<BT_KimMex.Models.PurchaseOrderViewModel>
    @using BT_KimMex.Class;
@{
    ViewBag.Title = "List";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.css" />

<h3 class="title">Quote List</h3>

<div class="well" style="padding:8px !important; padding-bottom:30px !important;">
    <div class="form-group">
        <label class="control-label col-md-2">Requested Date:</label>
        <div class="col-md-4">
            <div id="reportrange" style="background: #fff; cursor: pointer; padding: 5px 10px; border: 1px solid #ccc; width: 100%">
                <i class="fa fa-calendar"></i>&nbsp;
                <span></span> <i class="fa fa-caret-down"></i>
            </div>
        </div>
        <label class="control-label col-md-1">Status:</label>
        <div class="col-md-3">
            <select class="form-control" id="ddr_status" name="ddr_status">
                <option value="0">All</option>
                <option value="Pending">@ShowStatus.QuoteCreated</option>
                <option value="Approved">@ShowStatus.QuoteApproved</option>
                <option value="Completed">@ShowStatus.QuoteCompleted</option>
                <option value="@Status.RequestCancelled">@ShowStatus.QuoteRequestCancelled</option>
                <option value="@Status.Rejected">@ShowStatus.QuoteRejected</option>
                <option value="@Status.cancelled">@ShowStatus.MRCancelled</option>
            </select>
        </div>
        <div class="col-md-2">
            <button type="button" class="w3-button w3-tiny w3-blue" onclick="inititalDataTable()">Filter</button>
        </div>
    </div>
</div>

<table class="table table-bordered" id="table">
    <thead>
        <tr>
            <th>ID</th>
            <th>Date</th>
            <th>Quote No</th>
            <th>Reference</th>
            <th>Project Name</th>
            <th>Requester</th>
            <th>Status</th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @{ 
            @*int count = 1;
            foreach(var item in Model)
            {
                <tr>
                    <td>@count</td>
                    <td>@Convert.ToDateTime(item.created_date).ToString("dd/MM/yyyy")</td>
                    <td><a href="@Url.Action("Detail","PurchaseOrder",new { id = item.purchase_order_id })">@item.purchase_oder_number</a></td>
                    <td>@item.ir_no</td>
                    <td>@item.project_full_name</td>
                    <td>@BT_KimMex.Class.CommonFunctions.GetUserFullnamebyUserId(item.created_by)</td>
                    <td class="text-center">
                        @{
                            if (string.Compare(item.purchase_order_status, "Pending") == 0)
                            {
                                <span class="label w3-red">@ShowStatus.QuoteCreated</span>
                            }
                            else if (string.Compare(item.purchase_order_status, "Approved") == 0)
                            {
                                <span class="label w3-blue">@ShowStatus.QuoteApproved</span>
                            }
                            else if(string.Compare(item.purchase_order_status,"Completed")==0)
                            {
                                <span class="label w3-blue">@ShowStatus.QuoteCompleted</span>
                            }
                            else if (string.Compare(item.purchase_order_status, Status.RequestCancelled) == 0)
                            {
                                <span class="label w3-grey">@ShowStatus.QuoteRequestCancelled</span>
                            }
                            else if (string.Compare(item.purchase_order_status.ToLower(), Status.Rejected) == 0)
                            {
                                <span class="label w3-gray">@ShowStatus.QuoteRejected</span>
                            }
                            else if (string.Compare(item.purchase_order_status.ToLower(), Status.cancelled) == 0)
                            {
                                <span class="label w3-gray">@ShowStatus.MRCancelled</span>
                            }
                            else
                            {
                                <span class="label w3-grey">@item.purchase_order_status</span>
                            }
                        }
                    </td>
                    <td class="text-center"><a href="@Url.Action("Detail","PurchaseOrder",new { id = item.purchase_order_id })" class="w3-button w3-tiny w3-green">View Detail</a></td>
                </tr>
                count++;
            }*@
        }
    </tbody>
</table>

@section scripts{
<script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.3/moment.min.js" type="text/javascript"></script>
<script type="text/javascript" src="https://cdn.jsdelivr.net/npm/daterangepicker/daterangepicker.min.js"></script>
    <script type="text/javascript">
        $(function () {
            //$('#table').DataTable({
            //    "order": [[2, "desc"]],
            //});

            var start = moment().subtract(29, 'days');
            var end = moment();

            function cb(start, end) {
                $('#reportrange span').html(start.format('MMMM D, YYYY') + ' - ' + end.format('MMMM D, YYYY'));
            }

            $('#reportrange').daterangepicker({
                startDate: start,
                endDate: end,
                ranges: {
                    'Today': [moment(), moment()],
                    'Yesterday': [moment().subtract(1, 'days'), moment().subtract(1, 'days')],
                    'Last 7 Days': [moment().subtract(6, 'days'), moment()],
                    'Last 30 Days': [moment().subtract(29, 'days'), moment()],
                    'This Month': [moment().startOf('month'), moment().endOf('month')],
                    'Last Month': [moment().subtract(1, 'month').startOf('month'), moment().subtract(1, 'month').endOf('month')]
                }
            }, cb);

            cb(start, end);
            $('#ddr_status').select2();
            inititalDataTable();


            

        });

        function inititalDataTable() {
            var t = $('#table').DataTable({
                destroy: true,
                //"responsive": true,
                //"autoWidth": false,
                //"scrollX": true,
                "ajax": {
                    "url": "/PurchaseOrder/GetQuoteItemDatatablebyDateRangeandStatusAJAX",
                    "type": "GET",
                    "datatype": "json",
                    "data": {
                        dateRange: $('#reportrange span').html(),
                        status: $('#ddr_status').val(),
                    }
                },
                "columns": [
                    { "data": "purchase_order_id" },
                    { "data": "created_at_text" },
                    {
                        "render": function (data, type, full, meta) {
                            var btn = '<a href="/PurchaseOrder/Detail/' + full.purchase_order_id + '">' + full.purchase_oder_number + '</a>';
                            //btn = btn + ' / <a href="/ItemRequest/Detail/' + full.purchase_order_id + '">' + full.purchase_oder_number + '</a>';
                            return btn;
                        }
                    },

                    //{ "data": "ir_no" },
                    {
                        "render": function (data, type, full, meta) {
                            var btn = '<a href="/PurchaseRequisition/Detail/' + full.item_request_id + '" target="_blank">' + full.ir_no + '</a>';
                            btn = btn + ' / <a href="/ItemRequest/Detail/' + full.mr_id + '" target="_blank">' + full.mr_no + '</a>';
                            return btn;
                        }
                    },
                    { "data": "project_full_name" },
                    { "data": "created_by_text" },
                    { "data": "show_status_text" },
                    {
                        "render": function (data, type, full, meta) {
                            //var btn = '<a href="javascript:void(0)" id="' + full.Id + '" class="btn btn-xs default btn-edit"><i class="fa fa-edit"></i> Edit</a> ';
                            console.log(full);
                            var btn = '<a href="/PurchaseOrder/Detail/' + full.purchase_order_id + '" class="w3-button w3-tiny w3-blue-gray"><i class="fa fa-eye"></i></a>';
                            @*if (full.is_quote_complete == false && full.quote_status != '@Status.cancelled') {
                                btn = btn + '<a href="/Quote/Edit/' + full.quote_id + '" class="w3-button w3-tiny w3-blue-gray"><i class="fa fa-edit"></i></a>';
                            }*@
                            return btn;
                        }
                    },

                ],
                'columnDefs': [
                    {
                        "targets": 0,
                        "className": "text-center",
                    },
                    {
                        "targets": 7,
                        "className": "text-center",
                    },
                    //{
                    //    "targets": 7,
                    //    "className": "text-center",
                    //},
                    //{
                    //    "targets": 8,
                    //    "className": "text-center",
                    //},

                ],
                "order": [[2, "desc"]],
            });
            t.on('order.dt search.dt', function () {
                t.column(0, { search: 'applied', order: 'applied' }).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        }
    </script>
    }