@model BT_KimMex.Models.StockAdjustmentViewModel
@using Microsoft.AspNet.Identity;
@using BT_KimMex.Class;
@{
    ViewBag.Title = "Details";
    bool isAdmin = false;
    bool isMainStockController = false;
    bool isCFO = false;
    if (User.IsInRole(Role.SystemAdmin))
    {
        isAdmin = true;
    }
    if (User.IsInRole(Role.SiteStockKeeper))
    {
        isMainStockController = true;
    }
    if (User.IsInRole(Role.QAQCOfficer))
    {
        isCFO = true;
    }
}
<style type="text/css">
    #stockAdjustmenttable tr td {
        vertical-align: middle !important;
    }

        #stockAdjustmenttable tr td:nth-child(5), #stockAdjustmenttable tr td:nth-child(7),#stockAdjustmenttable tr td:nth-child(6) {
            text-align: center !important;
        }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        <h3 class="title">View Stock Adjustment Detail</h3>
        <div class="form-group">
            @Html.Label("Date :", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Label(BT_KimMex.Class.CommonClass.ToLocalTime(Convert.ToDateTime(Model.created_date)).ToString("dd/MM/yyyy"), new { @class = "col-md-10", id = "current_date" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.stock_adjuctment_code, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Label(Model.stock_adjuctment_code as string, new { @class = "col-md-10", id = "stockAdjuestmentNo" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.warehouse_id, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Label(Model.warehouse_name as string, new { @class = "col-md-10", id = "warehouse_name" })
        </div>
        <div class="row" style="margin:0 !important;">
            <table class="table table-bordered" id="stockAdjustmenttable" style="margin-top:0px !important;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Item Unit</th>
                        <th>Stock Balance</th>
                        <th>Count QTY</th>
                        <th>Variance QTY</th>
                        <th>Reason</th>
                        <th>Feedback Comment</th>
                    </tr>
                </thead>
                <tbody>
                    @{int count = 1;
                        foreach (BT_KimMex.Models.InventoryViewModel item in Model.items)
                        {
                            double variance =Convert.ToDouble(item.total_quantity - item.out_quantity);
                            <tr>
                                <td>@count</td>
                                <td>@item.itemCode</td>
                                <td>@item.itemName</td>
                                <td>@item.unitName</td>
                                <td>@string.Format("{0:G29}", decimal.Parse(item.total_quantity.ToString()))</td>
                                <td>@string.Format("{0:G29}", decimal.Parse(item.out_quantity.ToString()))</td>
                                <td>@variance</td>
                                <td>@item.reason</td>
                                <td>@item.remark</td>
                            </tr>
                            count++;
                        }
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                @{
                    if ((isAdmin || isMainStockController) && (string.Compare(Model.stock_adjustment_status, BT_KimMex.Class.Status.Pending) == 0 || string.Compare(Model.stock_adjustment_status, BT_KimMex.Class.Status.PendingFeedback) == 0))
                    {
                        string buttonName = string.Empty;
                        if (string.Compare(Model.stock_adjustment_status, BT_KimMex.Class.Status.Pending) == 0)
                        {
                            @*<a href="@Url.Action("Edit", "StockAdjustment", new { id = Model.stock_adjustment_id })" class="btn btn-default">Edit</a>*@
                            <button type="button" class="w3-button w3-tiny w3-deep-orange" id="btn-cancel">Request Cancel </button>
                        }
                        else if (string.Compare(Model.stock_adjustment_status, BT_KimMex.Class.Status.PendingFeedback) == 0)
                        {
                            <a href="@Url.Action("PrepareFeedback", "StockAdjustment", new { id = Model.stock_adjustment_id })" class="btn btn-default">Prepare Feedback</a>
                        }

                    }
                    if ((isAdmin || isCFO) && (string.Compare(Model.stock_adjustment_status, BT_KimMex.Class.Status.Pending) == 0 || string.Compare(Model.stock_adjustment_status, BT_KimMex.Class.Status.Feedbacked) == 0))
                    {
                        <a href="@Url.Action("ApproveFeedback","StockAdjustment",new { id = Model.stock_adjustment_id })" class="w3-button w3-tiny w3-teal">Approve / Feedback</a>
                    }
                    if ((User.IsInRole(Role.SystemAdmin) || User.IsInRole(Role.SiteManager)) && string.Compare(Model.stock_adjustment_status, Status.Approved) == 0)
                    {
                        <a href="javascript:void(0)" class="btn btn-success" id="btn-approve">Approve</a>
                        <a href="javascript:void(0)" class="btn btn-danger" id="btn-reject">Reject</a>
                    }
                    if ((User.IsInRole(Role.SystemAdmin) || User.IsInRole(Role.ProjectManager)) && string.Compare(Model.stock_adjustment_status, Status.Checked) == 0)
                    {
                        <a href="javascript:void(0)" class="btn btn-success" id="btn-check-approve">Approve</a>
                        <a href="javascript:void(0)" class="btn btn-danger" id="btn-check-reject">Reject</a>
                    }
                }

                <a class="w3-button w3-tiny w3-red" href="javascript:history.back()">Back</a>
            </div>
        </div>
    </div>
}

@section scripts{
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js" type="text/javascript"></script>
    <script type="text/javascript">
        $(function () {

            $("#btn-approve").click(function (e) {
                e.preventDefault();
                swal({
                    title: "Confirmation",
                    text: "Do you want to approve this request?",
                    icon: "warning",
                    buttons: true,
                    //dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/StockAdjustment/Approval",
                            data: {
                                'id': '@Model.stock_adjustment_id',
                                'status': 'approved',
                                'comment': '',
                            },
                            type: 'GET',
                            success: function (da) {
                                swal("Request has been approved successfully.", {
                                    icon: "success",
                                });
                                window.location.href = '@Url.Action("Index", "StockAdjustment")';
                            },
                            error: function (err) {
                                swal("Poof! " + err, {
                                    icon: "error",
                                });
                            }
                        });



                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
            });

            $("#btn-check-approve").click(function (e) {
                e.preventDefault();
                swal({
                    title: "Confirmation",
                    text: "Do you want to approve this request?",
                    icon: "warning",
                    buttons: true,
                    //dangerMode: true,
                })
                .then((willDelete) => {
                    if (willDelete) {
                        $.ajax({
                            url: "/StockAdjustment/Completed",
                            data: {
                                'id': '@Model.stock_adjustment_id',
                                'status': 'approved',
                                'comment': '',
                            },
                            type: 'GET',
                            success: function (da) {
                                swal("Request has been approved successfully.", {
                                    icon: "success",
                                });
                                window.location.href = '@Url.Action("Index", "StockAdjustment")';
                            },
                            error: function (err) {
                                swal("Poof! " + err, {
                                    icon: "error",
                                });
                            }
                        });



                    } else {
                        //swal("Your imaginary file is safe!");
                    }
                });
            });

            $('#btn-reject').click(function (e) {
                e.preventDefault();
                swal({
                    title: "Rejection",
                    text: "Please input your reject comment:",
                    icon: "warning",
                    content: "input",
                })
                .then((value) => {
                    $.ajax({
                        url: "/StockAdjustment/Approval",
                        data: {
                            'id': '@Model.stock_adjustment_id',
                            'status': 'rejected',
                            'comment': value,
                        },
                        type: 'GET',
                        success: function (da) {
                            swal("Request has been rejected successfully.", {
                                icon: "success",
                            });
                            window.location.href = '@Url.Action("Index", "StockAdjustment")';
                        },
                        error: function (err) {
                            swal("Poof! " + err, {
                                icon: "error",
                            });
                        }
                    });
                });
            });

            $('#btn-check-reject').click(function (e) {
                e.preventDefault();
                swal({
                    title: "Rejection",
                    text: "Please input your reject comment:",
                    icon: "warning",
                    content: "input",
                })
                .then((value) => {
                    $.ajax({
                        url: "/StockAdjustment/Completed",
                        data: {
                            'id': '@Model.stock_adjustment_id',
                            'status': 'rejected',
                            'comment': value,
                        },
                        type: 'GET',
                        success: function (da) {
                            swal("Request has been rejected successfully.", {
                                icon: "success",
                            });
                            window.location.href = '@Url.Action("Index", "StockAdjustment")';
                        },
                        error: function (err) {
                            swal("Poof! " + err, {
                                icon: "error",
                            });
                        }
                    });
                });
            });

            $('#btn-cancel').click(function () {
                swal({
                    title: "Request Cancel",
                    text: "Please input your cancel comment:",
                    icon: "warning",
                    content: "input",
                })
                .then((value) => {
                    $.ajax({
                        url: "/StockAdjustment/RequestCancel",
                        data: {
                            'id': '@Model.stock_adjustment_id',
                            //'status': 'rejected',
                            'comment': value,
                        },
                        type: 'GET',
                        success: function (da) {
                            swal("Request has been submitted successfully.", {
                                icon: "success",
                            });
                            window.location.href = '@Url.Action("Index", "StockAdjustment")';
                        },
                        error: function (err) {
                            swal("Poof! " + err, {
                                icon: "error",
                            });
                        }
                    });
                });
            });

        });
    </script>
    }