@model BT_KimMex.Models.StockAdjustmentViewModel

@{
    ViewBag.Title = "Prepare Feedback";
}
<style type="text/css">
    #stockAdjustmenttable tr td {
        vertical-align: middle !important;
    }

        #stockAdjustmenttable tr td:nth-child(5), #stockAdjustmenttable tr td:nth-child(7), #stockAdjustmenttable tr td:nth-child(6) {
            text-align: center !important;
        }
</style>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.HiddenFor(model => model.stock_adjustment_id)
        <h3 class="title">Prepare Feedback Stock Adjustment</h3>
        @Html.HiddenFor(model => model.stock_adjustment_id)
        <div class="form-group">
            @Html.Label("Date :", htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Label(BT_KimMex.Class.CommonClass.ToLocalTime(Convert.ToDateTime(Model.created_date)).ToString("dd/MM/yyyy"), new { @class = "col-md-10", id = "current_date" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.stock_adjuctment_code, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Label(Model.stock_adjuctment_code as string, new { @class = "col-md-10", id = "stockAdjuestmentNo" })
        </div>
        <div class="form-group">
            @Html.LabelFor(model => model.warehouse_id, htmlAttributes: new { @class = "control-label col-md-2" })
            @Html.Label(Model.warehouse_name as string, new { @class = "col-md-10", id = "warehouse_name" })
        </div>
        <div class="row" style="margin:0 !important;">
            <table class="table table-bordered" id="stockAdjustmenttable" style="margin-top:0px !important;">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>Item Unit</th>
                        <th>Stock Balance</th>
                        <th>Count QTY</th>
                        <th>Variance QTY</th>
                        <th>Feedback</th>
                        <th style="width:50px !important;"></th>
                        <th style="width:50px !important;"></th>
                    </tr>
                </thead>
                <tbody>
                    @{
                        int count = 1;
                        foreach (BT_KimMex.Models.InventoryViewModel item in Model.items)
                        {
                            double variance = Convert.ToDouble(item.total_quantity - item.out_quantity);
                            var rowId = "i" + count;
                            var name = "item" + count;
                            if (string.Compare(item.item_status, "approved") == 0)
                            {
                                <tr id='@rowId'>
                                    <td>@count</td>
                                    <td>
                                        <input type='hidden' value='@item.inventory_id' class='adjustment_detail_id' />
                                        <label class='item_code'>@item.itemCode</label>
                                    </td>
                                    <td><label class='item_name'>@item.itemName</label></td>
                                    <td><label class='item_unit'>@item.unitName</label></td>
                                    <td><label class=''>@string.Format("{0:G29}", decimal.Parse(item.total_quantity.ToString()))</label></td>
                                    <td><label>@string.Format("{0:G29}", decimal.Parse(item.out_quantity.ToString()))</label></td>
                                    <td><label class=''>@variance</label></td>
                                    <td><label class="">@item.remark</label></td>
                                    <td></td>
                                    <td>
                                        @{
                                            if (count == Model.items.Count())
                                            {
                                                <a href='javascript:void(0)' class='btn-default btn-sm' onclick='appendItemRow(this)'><span class='glyphicon glyphicon-plus'></span></a>
                                            }
                                        }
                                    </td>
                                </tr>
                                            }
                                            else
                                            {
                                                <tr id='@rowId'>
                                                    <td>@count</td>
                                                    <td>
                                                        <input type='hidden' value='@item.product_id' class='item_id' />
                                                        <label class='item_code'>@item.itemCode</label>
                                                    </td>
                                                    <td><label class='item_name'>@item.itemName</label></td>
                                                    <td><label class='item_unit'>@item.unitName</label></td>
                                                    <td><label class='stock_balance'>@string.Format("{0:G29}", decimal.Parse(item.total_quantity.ToString()))</label></td>
                                                    <td><input type='number' class='form-control count_qty' value='@string.Format("{0:G29}", decimal.Parse(item.out_quantity.ToString()))' onchange='calculateVariance(this)' /></td>
                                                    <td><label class='variance_qty'>@variance</label></td>
                                                    <td><label class="feedback_comment">@item.remark</label></td>
                                                    <td><a href='javascript:void(0)' class='btn-default btn-sm' onclick='removeItemRow(this)'><span class='glyphicon glyphicon-trash'></span></a></td>
                                                    <td>
                                                        @{
                                                            if (count == Model.items.Count())
                                                            {
                                                                <a href='javascript:void(0)' class='btn-default btn-sm' onclick='appendItemRow(this)'><span class='glyphicon glyphicon-plus'></span></a>
                                                            }
                                                        }
                                                    </td>
                                                </tr>
                                                                }
                                                                count++;
                                                            }
                    }
                </tbody>
            </table>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Submit" class="btn btn-default" onclick="prepareFeedbackStockAdjustment()" />
                @Html.ActionLink("Cancel", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
                                                            }
@section Scripts{
    <script type="text/javascript">
        function initialItemRow(rowNumber, rowIdNumber) {
            $('#stockAdjustmenttable tbody').append("" +
                                        "<tr id='i" + rowIdNumber + "'>" +
                                            "<td>" + rowNumber + "</td>" +
                                            "<td><input type='hidden' value='' class='item_id'/><input type='text' class='form-control item_code' id='item" + rowIdNumber + "' onfocus='getItemDataRow(this)'/></td>" +
                                            "<td><label class='item_name'></label></td>" +
                                            "<td><label class='item_unit'></label></td>" +
                                            "<td><label class='stock_balance'>0</label></td>" +
                                            "<td><input type='number' class='form-control count_qty' value='0' onchange='calculateVariance(this)'/></td>" +
                                            "<td><label class='variance_qty'>0</label></td>" +
                                            "<td><label class='feedback_comment'></label></td>"+
                                            "<td><a href='javascript:void(0)' class='btn-default btn-sm' onclick='removeItemRow(this)'><span class='glyphicon glyphicon-trash'></span></a></td>" +
                                            "<td><a href='javascript:void(0)' class='btn-default btn-sm' onclick='appendItemRow(this)'><span class='glyphicon glyphicon-plus'></span></a></td>" +
                                        "</tr>"
                                    );
        }
        function appendItemRow(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var rowId = $('#stockAdjustmenttable tr').eq(ind).attr('id').replace(/[^\d]/g, '');
            var rowNumber = $('#stockAdjustmenttable tr').eq(ind).find('td:first-child').text();
            var itemId = $('#stockAdjustmenttable tr').eq(ind).find('input.item_id').val();
            /*
            if (!itemId) { //|| Number(stockBalance) < Number(returnQty)
                return;
            }
            */
            initialItemRow(Number(rowNumber) + 1, Number(rowId) + 1);
            $('#stockAdjustmenttable tr').eq(ind).find('td:nth-child(10)').html('');
        }
        function removeItemRow(row) {
            var arrItemId = [];
            var ind = row.parentNode.parentNode.rowIndex;
            var isLastChild = $('#stockAdjustmenttable tr').eq(ind).find('td:nth-child(10) a').length == 0 ? false : true;
            var itemId = $('#stockAdjustmenttable tr').eq(ind).attr('id');
            var countTableRow = $('#stockAdjustmenttable tr').length;
            for (var i = 1; i < countTableRow; i++) {
                var id = $('#stockAdjustmenttable tr').eq(i).attr('id');
                if (id != undefined)
                    arrItemId.push(id);
            }
            if (arrItemId.length == 1)
                return;
            document.getElementById('stockAdjustmenttable').deleteRow(ind);
            if (isLastChild)
                $('#stockAdjustmenttable tr#' + arrItemId[arrItemId.length - 2]).find('td:nth-child(10)').html("<a href='javascript:void(0)' class='btn-default btn-sm' onclick='appendItemRow(this)'><span class='glyphicon glyphicon-plus'></span></a>");
            else {
                var deleted_index = arrItemId.indexOf(itemId);
                arrItemId.splice(deleted_index, 1);
                for (var i = 0; i < arrItemId.length; i++) {
                    $('tr#' + arrItemId[i] + ' td:nth-child(1)').html(Number(i) + 1);
                }
            }
        }
        function calculateVariance(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var stockBalance = $('#stockAdjustmenttable tr').eq(ind).find('label.stock_balance').text();
            var countQty = $('#stockAdjustmenttable tr').eq(ind).find('input.count_qty').val();
            var varianceQty = Number(stockBalance) - Number(countQty);
            $('#stockAdjustmenttable tr').eq(ind).find('label.variance_qty').text(varianceQty);
        }
        function getItemDataRow(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var rowId = $('#stockAdjustmenttable tr').eq(ind).find('input.item_code').attr('id');
            autocompleted(rowId);

            function autocompleted(rowId) {
                $("#" + rowId).autocomplete({
                    source: '@Url.Action("GetProductAutoSuggestName", "Product")',
                    select: function (event, ui) {
                        AutoCompleteSelectHandler(event, ui, ind);
                        $(this).val('');
                    }
                });
            }

            function AutoCompleteSelectHandler(event, ui, ind) {
                var selectedObj = ui.item;
                var item = (selectedObj.value).split(' ');
                itemId = selectedObj.id;
                GetItemDataRow(ind, itemId);
            }

            function GetItemDataRow(ind, itemId) {
                if (itemId != "") {
                    $.ajax({
                        url: '@Url.Action("GetProductDatawithStockBalance","Product")',
                        type: "get",
                        dataType: "json",
                        async: false,
                        data: { id: itemId, warehouseID: $('#warehouse_id').val() },
                        success: function (da) {
                            $('#stockAdjustmenttable tr').eq(ind).find('input[type="hidden"].item_id').val('');
                            $('#stockAdjustmenttable tr').eq(ind).find('label.item_name').text('');
                            $('#stockAdjustmenttable tr').eq(ind).find('label.item_unit').text('');
                            $('#stockAdjustmenttable tr').eq(ind).find('label.stock_balance').text(0);
                            $('#stockAdjustmenttable tr').eq(ind).find('input.count_qty').val(0);
                            $('#stockAdjustmenttable tr').eq(ind).find('label.variance_qty').text(0);
                            if (da.data) {
                                var item = da.data;
                                console.log(item);
                                $('#stockAdjustmenttable tr').eq(ind).find('input[type="hidden"].item_id').val(item.product_id);
                                $('#stockAdjustmenttable tr').eq(ind).find('input[type="text"].item_code').val(item.product_code);
                                $('#stockAdjustmenttable tr').eq(ind).find('label.item_name').text(item.product_name);
                                $('#stockAdjustmenttable tr').eq(ind).find('label.item_unit').text(item.unit_name);
                                $('#stockAdjustmenttable tr').eq(ind).find('label.stock_balance').text(item.stock_balance);
                                $('#stockAdjustmenttable tr').eq(ind).find('input.count_qty').val(item.stock_balance);
                                $('#stockAdjustmenttable tr').eq(ind).find('label.variance_qty').text(0);
                            } else {
                                $('#stockAdjustmenttable tr').eq(ind).find('input[type="hidden"].item_id').val('');
                                $('#stockAdjustmenttable tr').eq(ind).find('label.item_name').text('');
                                $('#stockAdjustmenttable tr').eq(ind).find('label.item_unit').text('');
                                $('#stockAdjustmenttable tr').eq(ind).find('label.stock_balance').text(0);
                                $('#stockAdjustmenttable tr').eq(ind).find('input.count_qty').val(0);
                                $('#stockAdjustmenttable tr').eq(ind).find('label.variance_qty').text(0);
                            }

                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            alert(textStatus);
                        }
                    });
                }
            }
        }
        function prepareFeedbackStockAdjustment() {
            var inventories = [];
            var item_element = {};
            var stockAdjustmentNo = $('#stockAdjuestmentNo').text();
            var warehouse = $('#warehouse_id').val();
            var items = $('.item_id');
            var stock_balance = $('.stock_balance');
            var count_qty = $('.count_qty');
            var remarks = $('.feedback_comment');
            var countInvalid = 0;
            var countZeroQty = 0;

            for (var i = 0; i < items.length; i++) {
                if (items[i].value && count_qty[i].value) {
                    item_element = {};
                    item_element.product_id = items[i].value;
                    item_element.total_quantity = stock_balance[i].innerHTML;
                    item_element.out_quantity = count_qty[i].value;
                    item_element.remark = remarks[i].value;
                    inventories.push(item_element);
                }
                else
                    countInvalid++;
                if (Number(count_qty[i].value) == 0)
                    countZeroQty++;
            }
            if (countInvalid > 0) {
                alert("Please fill all items information.");
                return;
            }
            if (countZeroQty >= items.length) {
                alert("No item to adjustment.");
                return;
            }
            var model = {
                warehouse_id: warehouse,
                stock_adjustment_status: '@Model.stock_adjustment_status',
                items: inventories
            };

            $.ajax({
                url: "@Url.Action("PrepareFeedback", "StockAdjustment")",
                type: "post",
                dataType: "json",
                async: false,
                data: { id: $('#stock_adjustment_id').val(), models: inventories },
                success: function (da) {
                    if (da.result == "success") {
                        alert('Your data has been saved successfully.');
                        window.location.href = '@Url.Action("Index")';
                    } else if (da.result == "error") {
                        alert(da.message);
                    }
                },
                error: function (err) {
                    alert('Your data is error while saving.');
                }
            });
        }
    </script>
}
