@model BT_KimMex.Models.PurchaseOrderSupplierReport
@{
    ViewBag.Title = "Purchase Order By Supplier";
    DateTime date = Convert.ToDateTime(DateTime.Now);
    string currentDate = DateTime.Now.ToString("MM/dd/yyyy");
}

<h3 class="title">Purchase Order By Supplier with Balance Report</h3>
@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            <label class="col-md-2">From Date :</label>
            <div class="col-md-4">
                <div class="input-group date" data-provide="datepicker" style="width:280px !important;">
                    @Html.EditorFor(model => model.dateFrom, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/DD/YYYY"} })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
            <label class="col-md-2">To Date :</label>
            <div class="col-md-4">
                <div class="input-group date" data-provide="datepicker" style="width:280px !important;">
                    @Html.EditorFor(model => model.dateTo, new { htmlAttributes = new { @class = "form-control", placeholder = "MM/DD/YYYY" } })
                    <div class="input-group-addon">
                        <span class="glyphicon glyphicon-calendar"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="form-group">
            @Html.LabelFor(model=>model.project_id,new { @class="col-md-2"})
            <div class="col-md-4">
                @Html.DropDownList("project_id", ViewBag.Projects as SelectList, "All", new { @class = "form-control" })
            </div>
            <label class="col-md-2">Supplier <strong style="color:red !important">*</strong>:</label>
            <div class="col-md-4">
                @Html.DropDownList("supplier", ViewBag.Suppliers as SelectList, "All Supplier", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.supplier, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Generate" class="btn btn-default" />
            </div>
        </div>
    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {
            $('#dateFrom').val('@currentDate');
            $('#dateTo').val('@currentDate');
        });
    </script>
}
