@model BT_KimMex.Models.StockBalanceBydateAndwarehouseReport
    @using Microsoft.AspNet.Identity;
@{
    ViewBag.Title = "Stock Balance Monthly Report";
    var reportType = ViewBag.IsStockContoller;
}
<style>

    .ui-datepicker-calendar {
    display: none;
    }
    .ui-datepicker-current:disabled {
        
        display: none;
    }
    
   
</style>

<div class="w3-panel w3-card-4">
    <div class="w3-container w3-display-container">
        <h3 class="title">@ViewBag.Title</h3>
    </div>
    <div class="w3-container w3-display-container">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()
            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                <input type="hidden" name="IsStockController" id="IsStockController" value="@reportType" />

                <div class="form-group">
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Date From <strong style="color:red !important">*</strong>:</label>
                        <div class="col-md-8">
                            <div class="input-group date " style="width:280px !important;">
                                @*<input name="startDate" id="startDate" class="date-picker form-control" placeholder="MM/YYYY" />*@
                                @*@Html.EditorFor(model => model.date, new { htmlAttributes = new { @class = "date-picker form-control", placeholder = "MM/YYYY" } })*@
                                <input type="text" class="date-picker form-control" placeholder="MM/YYYY" id="date" name="date"/>
                                <div class="input-group-addon">
                                    <span class="glyphicon glyphicon-calendar" id="startDate"></span>
                                </div>
                            </div>
                            @Html.ValidationMessageFor(model => model.date, "", new { @class = "text-danger" })
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Site:</label>
                        <div class="col-md-8">
                            <select class="form-control" id="warehouses_id" name="Warehouse_id">
                                <option value="">Select Site</option>
                                @if (User.IsInRole(BT_KimMex.Class.Role.SiteStockKeeper))
                                {
                                    foreach (var site in BT_KimMex.Models.SiteViewModel.GetSiteList(User.Identity.GetUserId()))
                                    {
                                        <option value="@site.site_id">@site.site_name</option>
                                    }
                                }
                                else
                                {
                                    foreach (var site in BT_KimMex.Models.SiteViewModel.GetSiteList())
                                    {
                                        <option value="@site.site_id">@site.site_name</option>
                                    }
                                }

                            </select>
                            @*@Html.DropDownList("Warehouse_id", ViewBag.StockBalance as SelectList, "Select Warehouse", new { @id = "warehouses_id", @class = "form-control warehoustclass", onchange = "Check()" })*@
                        </div>
                    </div>
                    <div class="col-md-4">
                        <label class="col-md-4 control-label">Project Name:</label>
                        <div class="col-md-8">

                            @Html.DropDownList("project_id", new SelectList(""), "Select Project", new { @id = "projectsIdwhenChange", @class = " form-control stateclassbywarehouse", onchange = "Check()" })
                        </div>
                    </div>
                </div>
                <div class="form-group">
                    <div class="col-md-offset-2 col-md-10">
                        <input type="submit" value="Generate" class="w3-button w3-tiny w3-teal" />
                    </div>
                </div>
            </div>
        }
    </div>
</div>



@section Scripts{
    <script type="text/javascript">
        window.onload = function () {
           // $("#warehouses_id").window.onload();

            //$.get("/Report/getprojectbywarehouse", { UnId: $('#warehouses_id').val().trim() }, function (data) {
            //    $("#projectsIdwhenChange").empty();
            //    //$("#projectsIdwhenChange").append("<option>" + "All" + "</option>");
            //    $.each(data, function (index, row) {
            //        $("#projectsIdwhenChange").append("<option value='" + row.id + "'>" + row.name + "</option>");
             
            //    });
            //}); 
        } 
        jQuery.browser = {};
        (function () {
           // $('#projectsIdwhenChange').hide();
            jQuery.browser.msie = false;
            jQuery.browser.version = 0;
            if (navigator.userAgent.match(/MSIE ([0-9]+)\./)) {
                jQuery.browser.msie = true;
                jQuery.browser.version = RegExp.$1;
            }
        })();
        $(function () {
            $('.date-picker').datepicker({
                changeMonth: true,
                changeYear: true,
                showButtonPanel: true,
                dateFormat: 'MM yy',
                onClose: function (dateText, inst) {
                    $(this).datepicker('setDate', new Date(inst.selectedYear, inst.selectedMonth, 1));
                    $(this).addClass("form-control");
                }
            });
        });

        $("#warehouses_id").change(function (e) {
            //alert($('#warehouses_id').val().trim());
            var isAllValid = true;
            $.get("/Report/getprojectbywarehouse", { UnId: $('#warehouses_id').val().trim() }, function (data) {
                $("#projectsIdwhenChange").empty();
                //$("#projectsIdwhenChange").append("<option>" + "All" + "</option>");
                $.each(data, function (index, row) {
                    // $("#StateId").val("-- please select -- ")
                    $("#projectsIdwhenChange").append("<option value='" + row.id + "'>" + row.name + "</option>");

                });
            });
        });
        




    </script>
}