@model BT_KimMex.Models.MRCutOffViewModel
@{
    ViewBag.Title = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    <h3 class="title">Create New MR Cut-off Request</h3>
    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="row">
            <div class="col-md-6">
                <div class="form-group">
                    <label class="col-md-4">Request Date:</label>
                    <label class="col-md-8">@Convert.ToDateTime(DateTime.Now).ToString("dd/MM/yyyy")</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Purchase Requisition Number:</label>
                    <label class="col-md-8">@ViewBag.MCONumber</label>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Project <span class="text-danger">*</span>:</label>
                    <div class="col-md-8">
                        @Html.DropDownList("project_id", new SelectList(BT_KimMex.Class.CommonClass.GetAllProject(), "project_id", "project_full_name"), "Select Project", new { @class = "form-control" })
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-md-4">Material Request Ref. <span class="text-danger">*</span>:</label>
                    <div class="col-md-8">
                        @if (string.IsNullOrEmpty(Model.material_request_id))
                        {
                            <select class="form-control" id="material_request_id" name="material_request_id">
                                <option>Select Material Request Reference</option>
                            </select>
                        }
                        else
                        {
                            @Html.DropDownList("material_request_id", new SelectList(Model.materialRequests, "ir_id", "ir_no", Model.material_request_id), new { @class = "form-control" })
                        }
                    </div>
                </div>
            </div>
            <div class="col-md-6">

            </div>
        </div>
        <div class="row">
            <div class="table-responsive">
                <table class="table table-bordered" id="table">
                    <thead>
                        <tr>
                            <th>No.</th>
                            <th>Item Code</th>
                            <th>Item Name</th>
                            <th>Requested Qty</th>
                            <th>Requested Unit</th>
                            <th>Remain Qty</th>
                            <th>Cut-off Qty</th>
                            <th>Variance Qty</th>
                            <th>Reason</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (Model.materialRequestItems.Count() == 0)
                        {
                            <tr>
                                <td colspan="6" class="text-center">No Data Available</td>
                            </tr>
                        }
                        else
                        {
                            int count = 1;
                            foreach (var item in Model.materialRequestItems)
                            {
                                string rowId = "i" + count;
                                string itemId = "item" + count;
                                <tr id='@rowId'>
                                    <td>@count</td>
                                    <td><input type='hidden' name='item_id' class='item-id' value='@item.ir_item_id' /><label class='item-code' id='@itemId'>@item.product_code</label></td>
                                    <td><label class='item-name'>@item.product_name</label></td>
                                    <td class='text-center'>@item.ir_qty<input type='hidden' class="item_qty" name='item_qty' value='@item.remain_qty' /></td>
                                    <td>@item.requested_unit <input type='hidden' class="item_unit" name='item_unit' value='@item.ir_item_unit' /></td>
                                    <td class="text-center"><label class="remain_qty">@item.remain_qty</label></td>
                                    <td><input type="number" class="form-control cut_off_qty" min="0" value="0" onchange="check_quantity_validation(this)"/></td>
                                    <td class='text-center'><label class="variance_qty"></label></td>
                                    <th><textarea class="form-control reasons" style="padding:0px !important; font-size:11px !important"></textarea></th>
                                </tr>
                                count++;
                            }
                        }
                    </tbody>
                </table>
            </div>
        </div>
        <div class="row">
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="button" value="Submit" id="btnCreate" class="btn btn-success" />
                    <a href="javascript:history.back();" class="btn btn-danger">Back</a>
                </div>
            </div>
        </div>

    </div>
}

@section Scripts{
    <script type="text/javascript">
        $(function () {

            $('#project_id').on('change', function (e) {
                e.preventDefault();
                var projectId = $(this).val();
                $('#material_request_id').empty().append("<option>Select Material Request Reference</option>");;
                $('#table tbody').empty().append("<tr><td colspan='5' class='text-center'>No Item Data</td></tr>");
                if (projectId) {
                    $.ajax({
                        url: '@Url.Action("GetItemRequestsbyProject", "PurchaseRequisition")',
                        type: "get",
                        dataType: "json",
                        data: { id: projectId },
                        success: function (da) {
                            //console.log(da);
                            $.each(da, function (index, item) {
                                $('#material_request_id').append("<option value='" + item.ir_id + "'>" + item.ir_no + "</option>");
                            });
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            console.log(XMLHttpRequest);
                        }
                    });
                }

            });

            $('#material_request_id').change(function () {
                var irID = $(this).val();
                $('#table tbody').empty();
                if (irID) {
                    $.ajax({
                        url: '@Url.Action("GetMaterialRequestListItemsJson", "ItemRequest")',
                        type: "get",
                        dataType: "json",
                        data: { id: irID },
                        success: function (da) {
                            console.log(da);

                            if (da.data.length > 0) {
                                $.each(da.data, function (index, item) {
                                    var rowNumber = index;
                                    $('#table tbody').append("" +
                                        "<tr id='i" + Number(Number(rowNumber) + 1) + "'>" +
                                            "<td>" + Number(Number(rowNumber) + 1) + "</td>" +
                                            "<td><input type='hidden' name='item_id' class='item-id' value='" + item.ir_item_id + "'/><label class='item-code' id='item" + Number(Number(rowNumber) + 1) + "'>" + item.product_code + "</label></td>" +
                                            "<td><label class='item-name'>" + item.product_name + "</label></td>" +
                                            "<td class='text-center'>" + item.ir_qty + "<input type='hidden' class='item_qty' name='item_qty' value='" + item.remain_qty + "'/></td>" +
                                            "<td>" + item.requested_unit + "<input type='hidden' class='item_unit' name='item_unit' value='" + item.ir_item_unit + "'/></td>" +
                                            "<td class='text-center'><label class='remain_qty'>" + item.remain_qty + "</label>" +
                                            '<td><input type="number" class="form-control cut_off_qty" min="0" value="0" onchange="check_quantity_validation(this)" name="cut_off_qty"/></td>' +
                                            "<td class='text-center'><label class='variance_qty'></label></td>" +
                                            '<td><textarea class="form-control reasons" style="padding:0px !important; font-size:11px !important"></textarea></td>'+

                                        "</tr>"
                                        );
                                });
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $('#quoteTable tbody ').empty();
                        }
                    });
                }

            });
            function enable_submit_button(is_submit) {
                if (is_submit) {
                    $('#btnCreate').text("Submitting...");
                    $('#btnCreate').attr('disabled', true);
                } else {
                    $('#btnCreate').text("Submit");
                    $('#btnCreate').attr('disabled', false);
                }
            }
            $('#btnCreate').click(function (e) {
                e.preventDefault();
                enable_submit_button(true);
                var mrCutOffDetail = [];
                var material_request_id = $('#material_request_id').val();
                var item_ids = $('.item-id');
                var item_qtys = $('.item_qty');
                var item_units = $('.item_unit');
                var cut_off_qty = $('.cut_off_qty');
                var reasons = $('.reasons');
                var item_element = {};
                for (var i = 0; i < item_ids.length; i++) {
                    item_element = {};
                    item_element.item_id = item_ids[i].value;
                    item_element.item_unit_id = item_units[i].value;
                    item_element.material_request_qty = Number(item_qtys[i].value);
                    item_element.cut_off_qty = Number(cut_off_qty[i].value);
                    item_element.cut_off_reason = reasons[i].value;
                    mrCutOffDetail.push(item_element);
                    //console.log(item_element);
                }
                
                var model = {
                    material_request_id: material_request_id,
                    mrCutOffDetail: mrCutOffDetail
                };
                console.log(model);
                $.ajax({
                    url: "/MRCutOff/Create",
                    type: "post",
                    dataType: "json",
                    async: false,
                    data: { model },
                    success: function (da) {
                        if (da.result == "success") {
                            alert('Your data has been saved successfully.');
                            window.location.href = '@Url.Action("Index")';
                        } else if (da.result == "fail") {
                            alert(da.message);
                        }
                    },
                    error: function (err) {
                        alert('Your data is error while saving!');
                    }
                });
            })

        });

        function check_quantity_validation(row) {
            var index = row.parentNode.parentNode.rowIndex;
            
            var cut_off_qty = $('#table tr').eq(index).find('input.cut_off_qty').val();
            var remain_qty = $('#table tr').eq(index).find('label.remain_qty').text();
            if (cut_off_qty == '' || cut_off_qty == undefined) {
                cut_off_qty = 0;
                $('#table tr').eq(index).find('input.cut_off_qty').val(0);
            }
            var variance_qty = remain_qty -cut_off_qty ;
            $('#table tr').eq(index).find('label.variance_qty').text(variance_qty);
            //console.log(cut_off_qty + " "+remain_qty);
             
        }
    </script>

}