@model BT_KimMex.Models.ItemReturnViewModel

@{
    ViewBag.Title = "Create";
    string Number = ViewBag.Number;
    //ViewBag.LayoutStyle = "big";
}
@*<link href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/themes/base/jquery-ui.css" rel="stylesheet" type="text/css" />*@
<style type="text/css">
    #returnItemTable tr td {
        text-align: center !important;
        vertical-align: middle !important;
    }

    .form-control {
        /*padding: 0px !important;*/
        font-size: 12px !important;
    }
</style>

<h3 class="title">Create New Item Return to Supplier</h3>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class="form-horizontal">
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.created_date, htmlAttributes: new { @class = "col-md-2" })
            @Html.Label(BT_KimMex.Class.CommonClass.ToLocalTime(Convert.ToDateTime(DateTime.Now)).ToString("dd-MMM-yyyy"), new { @class = "col-md-10" })
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.itemReturnNumber, htmlAttributes: new { @class = "col-md-2" })
            @Html.Label(Number, new { @class = "col-md-10", id = "itemReturnNumber" })
        </div>

        <div class="row" style="margin:0 !important;">
            <table class="table table-bordered table-responsive" id="returnItemTable">
                <thead>
                    <tr>
                        <th>No.</th>
                        <th>Item Code</th>
                        <th>Item Name</th>
                        <th>To Supplier</th>
                        <th>From Warehouse</th>
                        <th>Stock Balance</th>
                        <th>Return Qty</th>
                        <th>Unit</th>
                        @*<th style="width:140px;">Select Uom unit</th>*@
                        <th>Invoice No.</th>
                        <th>Invoice Date</th>
                        <th>Remark</th>
                        <th></th>
                        <th></th>
                    </tr>
                </thead>
            </table>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="button" value="Submit" class="btn btn-default" onclick="submitReturnItem()" />
                @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-default" })
            </div>
        </div>
    </div>
}

@section Scripts{
    @*<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.8.1/jquery-ui.min.js"></script>*@
    <script type="text/javascript">
        $(function () {
            initialItemRow(1, 1, 0);
            $('#returnItemTable').on('changeDate', 'td div.date', function () {
                $(this).datepicker('hide');
            });
        });
    </script>
    <script type="text/javascript">
        function initialItemRow(rowNumber, rowIdNumber, rowIndex, item) {
            $('#returnItemTable tr').eq(rowIndex).after("" +
                    "<tr id='i" + rowIdNumber + "'>" +
                        "<td>" + rowNumber + "</td>" +
                        "<td><input type='hidden' class='item-id'/><input type='text' class='form-control item-code' id='item" + rowIdNumber + "' onfocus='getItemDataRow(this)' placeholder='Item Code'/></td>" +
                        "<td><input type='text' class='form-control item-name' id='im" + rowIdNumber + "'  placeholder='Item Name'/></td>" + //onfocus='getItemDataRowByName(this)'
                        "<td><select class='form-control supplier'><option selected disabled value>Select Supplier</option></select></td>" +
                        "<td><select class='form-control warehouse' onchange='InitialItemInventory(this)'><option selected disabled value>Select Warehouse</option></select></td>" +
                        "<td><label class='stock-balance'>0</label> <label class='stock-balance-unit-name'></label><input type='hidden' class='stock-balance-unit'/></td>" +
                        "<td><input type='number' class='form-control return-qty' placeholder='Return Qty' value='0' onchange='checkReturnQty(this)'/></td>" +
                        "<td><select class='form-control item-unit' onchange='checkReturnQty(this)'></select></td>" +
                        //"<td><select class='form-control item-unit' onchange='checkReturnQty(this)'><option disabled selected>Select Unit</option>" + mou + "</select></td>" +
                        "<td><input type='text' class='form-control invoice_number'/></td>" +
                        "<td>" +
                            '<div style="display:inline-block !important;margin-right:5px !important;">' +
                                                            '<div class="input-group date" data-provide="datepicker" data-autoclose="true" style="width:150px !important;">' +
                                                                '<input type="text" class="form-control invoice_date" style="width:130px !important;"/>' +
                                                                '<div class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></div>' +
                                                            '</div>' +
                                                        '</div>' +
                        "</td>" +
                        "<td><textarea class='form-control remark' placeholder='Remark'></textarea></td>" +
                        "<td><a href='javascript:void(0)' class='btn-sm btn-danger' onclick='removeItemRow(this)'><i class='fa fa-trash-o'></i></a></td>" +
                        "<td><a href='javascript:void(0)' class='btn-sm btn-success' onclick='appendItemRow(this)'><i class='fa fa-plus-square'></i></a></td>" +
                    "</tr>"
                    );
            InitialItemWarehouse(rowIndex);
            InitialSupplier(rowIndex);
            $(".date").datepicker({ format: 'dd/mm/yyyy' });
        }
        function appendItemRow(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var rowId = $('#returnItemTable tr').eq(ind).attr('id').replace(/[^\d]/g, '');
            var rowNumber = $('#returnItemTable tr').eq(ind).find('td:first-child').text();
            var warehouseId = $('#returnItemTable tr').eq(ind).find('select.warehouse').val();
            var supplierId = $('#returnItemTable tr').eq(ind).find('select.supplier').val();
            var itemId = $('#returnItemTable tr').eq(ind).find('input.item-id').val();
            var returnQty = $('#returnItemTable tr').eq(ind).find('input.return-qty').val();
            var stockBalance = $('#returnItemTable tr').eq(ind).find('label.stock-balance').text();
            if (!warehouseId || !itemId || !supplierId || Number(returnQty) <= 0) { //|| Number(stockBalance) < Number(returnQty)
                return;
            }
            initialItemRow(Number(rowNumber) + 1, Number(rowId) + 1, ind);
            $('#returnItemTable tr').eq(ind).find('td:nth-child(13)').html('');
        }
        function removeItemRow(row) {
            var arrItemId = [];
            var ind = row.parentNode.parentNode.rowIndex;
            var isLastChild = $('#returnItemTable tr').eq(ind).find("td:nth-child(13) a").length == 0 ? false : true;
            var itemId = $('#returnItemTable tr').eq(ind).attr('id');
            var count_table_row = $('#returnItemTable tr').length;
            for (var i = 1; i <= count_table_row; i++) {
                var id = $('#returnItemTable tr').eq(i).attr('id');
                if (id != undefined)
                    arrItemId.push(id);
            }
            if (arrItemId.length == 1) {
                return;
            }
            document.getElementById('returnItemTable').deleteRow(ind);
            if (isLastChild)
                $('#returnItemTable tr#' + arrItemId[arrItemId.length - 2]).find('td:nth-child(13)').html("<a href='javascript:void(0)' class='btn-sm btn-default' onclick='appendItemRow(this)'><i class='fa fa-plus-square'></i></a>");
            else {
                var deleted_index = arrItemId.indexOf(itemId);
                arrItemId.splice(deleted_index, 1);
                for (var i = 0; i < arrItemId.length; i++) {
                    $('tr#' + arrItemId[i] + ' td:nth-child(1)').html(Number(i) + 1);
                }
            }
        }
        function getItemDataRow(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var rowId = $('#returnItemTable tr').eq(ind).find('input.item-code').attr('id');
            var itemClass = $('#returnItemTable tr').eq(ind).attr('id');
            var itemTypeId = $('#returnItemTable tr#type' + itemClass).find('input.type-id').val();
            //var itemId;
            autocompleted(rowId);

            function autocompleted(rowId) {
                $("#" + rowId).autocomplete({
                    //source: '/Product/GetProductAutoSuggest',
                    source: '@Url.Action("GetProductAutoSuggestName", "Product")',
                    select: function (event, ui) {
                        AutoCompleteSelectHandler(event, ui, ind);
                        $(this).val('');
                    }
                });
            }

            function AutoCompleteSelectHandler(event, ui, ind) {
                var selectedObj = ui.item;
                var item = (selectedObj.value).split(' ');
                itemId = selectedObj.id;
                GetItemDataRow(ind, itemId);
                //$('#stockIssueTable tr').eq(ind).find('input.item-code').val(item[0]);
            }

            function GetItemDataRow(ind, itemId) {
                if (itemId != "") {
                    $.ajax({
                        url: '/Product/GetProductDataByCode',
                        type: "get",
                        dataType: "json",
                        async: false,
                        data: { id: itemId },
                        success: function (da) {
                            $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val('');
                            $('#returnItemTable tr').eq(ind).find('select.warehouse').val('');
                            $('#returnItemTable tr').eq(ind).find('select.supplier').val('');
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance').text(0);
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance-unit-name').text('');
                            $('#returnItemTable tr').eq(ind).find('input.stock-balance-unit').val('');
                            $('#returnItemTable tr').eq(ind).find('input.return-qty').text(0);
                            $('#returnItemTable tr').eq(ind).find('select.item-unit').empty();
                            $('#returnItemTable tr').eq(ind).find('.remark').val('');
                            if (da.data) {
                                var item = da.data;
                                console.log(item);
                                $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val(item.product_id);
                                $('#returnItemTable tr').eq(ind).find('input[type="text"].item-code').val(item.product_code);
                                $('#returnItemTable tr').eq(ind).find('input.item-name').val(item.product_name);
                                //$('#returnItemTable tr').eq(ind).find('label.item-unit').text(item.product_unit);
                                var mou = "<option value='" + item.product_unit + "'>" + item.unit_name + "</option>";
                                if (item.uom1_id && item.uom1_qty)
                                    mou = mou + "<option value='" + item.uom1_id + "," + item.uom1_qty + "'>" + item.uom1_id + "</option>";
                                if (item.uom2_id && item.uom2_qty)
                                    mou = mou + "<option value='" + item.uom2_id + "," + item.uom2_qty + "'>" + item.uom2_id + "</option>";
                                if (item.uom3_id && item.uom3_qty)
                                    mou = mou + "<option value='" + item.uom3_id + "," + item.uom3_qty + "'>" + item.uom3_id + "</option>";
                                if (item.uom4_id && item.uom4_qty)
                                    mou = mou + "<option value='" + item.uom4_id + "," + item.uom4_qty + "'>" + item.uom4_id + "</option>";
                                if (item.uom5_id && item.uom5_qty)
                                    mou = mou + "<option value='" + item.uom5_id + "," + item.uom5_qty + "'>" + item.uom5_id + "</option>";
                                $('#returnItemTable tr').eq(ind).find('select.item-unit').append(mou);
                            } else {
                                $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val('');
                                $('#returnItemTable tr').eq(ind).find('select.warehouse').val('');
                                $('#returnItemTable tr').eq(ind).find('select.supplier').val('');
                                $('#returnItemTable tr').eq(ind).find('label.stock-balance').text(0);
                                $('#returnItemTable tr').eq(ind).find('label.stock-balance-unit-name').text('');
                                $('#returnItemTable tr').eq(ind).find('input.stock-balance-unit').val('');
                                $('#returnItemTable tr').eq(ind).find('input.return-qty').text(0);
                                $('#returnItemTable tr').eq(ind).find('select.item-unit').empty();
                                $('#returnItemTable tr').eq(ind).find('.remark').val('');
                            }
                        },
                        error: function (XMLHttpRequest, textStatus, errorThrown) {
                            $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val('');
                            $('#returnItemTable tr').eq(ind).find('select.warehouse').val('');
                            $('#returnItemTable tr').eq(ind).find('select.supplier').val('');
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance').text(0);
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance-unit-name').text('');
                            $('#returnItemTable tr').eq(ind).find('input.stock-balance-unit').val('');
                            $('#returnItemTable tr').eq(ind).find('input.return-qty').text(0);
                            $('#returnItemTable tr').eq(ind).find('select.item-unit').empty();
                            $('#returnItemTable tr').eq(ind).find('.remark').val('');
                            alert(textStatus);
                        }
                    });
                }
            }
        }
        //blocked by rith aug 28 2018
        //function getItemDataRowByName(row) {
        //    var ind = row.parentNode.parentNode.rowIndex;
        //    var rowId = $('#returnItemTable tr').eq(ind).find('input.item-name').attr('id');
        //    var itemClass = $('#returnItemTable tr').eq(ind).attr('id');
        //    var itemTypeId = $('#returnItemTable tr#type' + itemClass).find('input.type-id').val();
        //    //var itemId;
        //    autocompleted(rowId);

        //    function autocompleted(rowId) {
        //        $("#" + rowId).autocomplete({
        //            source: '/Product/GetProductAutoSuggestByName',
        //            select: function (event, ui) {
        //                AutoCompleteSelectHandler(event, ui, ind);
        //                $(this).val('');
        //            }
        //        });

        //    }

        //    function AutoCompleteSelectHandler(event, ui, ind) {
        //        var selectedObj = ui.item;
        //        var item = (selectedObj.value).split(' ');
        //        itemId = selectedObj.id;
        //        GetItemDataRow(ind, itemId);
        //        //$('#stockIssueTable tr').eq(ind).find('input.item-code').val(item[0]);
        //    }

        //    function GetItemDataRow(ind, itemId) {
        //        if (itemId != "") {
        //            $.ajax({
        //                url: '/Product/GetProductDataByCode',
        //                type: "get",
        //                dataType: "json",
        //                async: false,
        //                data: { id: itemId },
        //                success: function (da) {
        //                    $('#returnItemTable tr').eq(ind).find('select.warehouse').val('');
        //                    $('#returnItemTable tr').eq(ind).find('label.stock-balance').text(parseFloat(0).toFixed(2));
        //                    $('#returnItemTable tr').eq(ind).find('input.return-qty').text(parseFloat(0).toFixed(2));
        //                    if (da.data) {
        //                        var item = da.data;
        //                        console.log(item);
        //                        $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val(item.product_id);
        //                        $('#returnItemTable tr').eq(ind).find('input[type="text"].item-code').val(item.product_code);
        //                        $('#returnItemTable tr').eq(ind).find('input.item-name').val(item.product_name);
        //                        $('#returnItemTable tr').eq(ind).find('label.item-unit').text(item.product_unit);

        //                    } else {
        //                        $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val('');
        //                        $('#returnItemTable tr').eq(ind).find('input.item-name').val(' ');
        //                        $('#returnItemTable tr').eq(ind).find('label.item-unit').text(' ');
        //                    }

        //                },
        //                error: function (XMLHttpRequest, textStatus, errorThrown) {
        //                    $('#returnItemTable tr').eq(ind).find('select.warehouse').val('');
        //                    $('#returnItemTable tr').eq(ind).find('label.stock-balance').text(parseFloat(0).toFixed(2));
        //                    $('#returnItemTable tr').eq(ind).find('input.damage-qty').text(parseFloat(0).toFixed(2));
        //                    $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val('');
        //                    $('#returnItemTable tr').eq(ind).find('input.item-name').val(' ');
        //                    $('#returnItemTable tr').eq(ind).find('label.item-unit').text(' ');
        //                    alert(textStatus);
        //                } 
        //            });
        //        }
        //    }
        //}
        function InitialItemWarehouse(ind) {
            $.ajax({
                url: '/Warehouse/GetWarehouseDropdownList',
                type: "get",
                dataType: "json",
                data:{iid:0},
                async: false,
                success: function (da) {
                    if (da.result == "success") {
                        $.each(da.data, function (index, item) {
                            $('#returnItemTable tr').eq(ind + 1).find('select.warehouse').append("<option value='" + item.warehouse_id + "'>" + item.warehouse_name + "</option>");
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function InitialSupplier(ind) {
            $.ajax({
                url: '/Supplier/SupplierDropdownList',
                type: "get",
                dataType: "json",
                async: false,
                success: function (da) {
                    if (da.result == "sucess") {
                        $.each(da.data, function (index, item) {
                            $('#returnItemTable tr').eq(ind + 1).find('select.supplier').append("<option value='" + item.supplier_id + "'>" + item.supplier_name + "</option>");
                        });
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        function InitialItemInventory(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var itemId = $('#returnItemTable tr').eq(ind).find('input[type="hidden"].item-id').val();
            var warehouseId = $('#returnItemTable tr').eq(ind).find('select.warehouse').val();
            if (!itemId || !warehouseId) {
                return;
            }
            $.ajax({
                url: '/StockIssue/GetInventoryItem',
                type: "get",
                dataType: "json",
                async: false,
                data: { itemId: itemId, warehouseId: warehouseId },
                success: function (da) {
                    if (da.result == "success") {
                        var returnQty = $('#returnItemTable tr').eq(ind).find('input.return-qty').val();
                        if (da.data) {
                            console.log(da.data);
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance').text(da.data.total_quantity);
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance-unit-name').text(da.data.unitName);
                            $('#returnItemTable tr').eq(ind).find('input.stock-balance-unit').val(da.data.itemUnit);
                            if (Number(da.data.total_quantity) < Number(returnQty)) {
                                alert("Return item quantity must be smaller than Stock balance.");
                                return;
                            }
                        } else {
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance').text(0);
                            $('#returnItemTable tr').eq(ind).find('label.stock-balance-unit-name').text('');
                            $('#returnItemTable tr').eq(ind).find('input.stock-balance-unit').val('');
                            if (Number(returnQty) > 0) {
                                alert("Return item quantity must be smaller than Stock balance.");
                                return;
                            }
                        }
                    }
                },
                error: function (XMLHttpRequest, textStatus, errorThrown) {

                }
            });
        }
        /*
        function checkReturnQty(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var stockBalance = $('#returnItemTable tr').eq(ind).find('label.stock-balance').text();
            var returnQty = $('#returnItemTable tr').eq(ind).find('input.return-qty').val();
            if (Number(stockBalance) < Number(returnQty)) {
                $.notify('Return Qty must be smaller than Request Stock Balance.', { className: 'error' });
                //alert("Return item quantity must be smaller than Stock balance.");
                return;
            }
        }
        */

        function checkReturnQty(row) {
            var ind = row.parentNode.parentNode.rowIndex;
            var stockBalance = $('#returnItemTable tr').eq(ind).find('label.stock-balance').text();
            var stockBalanceUnit = $('#returnItemTable tr').eq(ind).find('input.stock-balance-unit').val();
            var returnQty = $('#returnItemTable tr').eq(ind).find('input.return-qty').val();
            var returnUnit = $('#returnItemTable tr').eq(ind).find('select.item-unit').val();
            //console.log(stockBalance + " " + stockBalanceUnit + " " + damageQty + " " + damageUnit);

            if (!returnQty && !returnUnit)
                return;
            var splitDamageUnit = returnUnit.split(',');
            if (stockBalanceUnit == splitDamageUnit[0]) {
                if (returnQty && Number(returnQty) > Number(stockBalance)) {
                    alert("Return quantity must be smaller or equal to balance.");
                    $('#returnItemTable tr').eq(ind).find('input.return-qty').focus();
                    $('#returnItemTable tr').eq(ind).find('input.return-qty').val(0);
                }
            }
            else {
                var quantity = 0;
                var selectedIndex = $('#returnItemTable tr').eq(ind).find('select.item-unit').prop('selectedIndex');
                if (returnQty) {
                    if (selectedIndex == 1) {
                        var splitElement = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(selectedIndex).val().split(',');
                        quantity = returnQty / splitElement[1];
                    }
                    else if (selectedIndex == 2) {
                        var splitElement = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(selectedIndex).val().split(',');
                        var splitElement2 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(2).val().split(',');
                        quantity = (returnQty / splitElement[1]) / splitElement2[1];
                    }
                    else if (selectedIndex == 3) {
                        var splitElement = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(selectedIndex).val().split(',');
                        var splitElement2 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(2).val().split(',');
                        var splitElement3 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(3).val().split(',');
                        quantity = ((returnQty / splitElement[1]) / splitElement3[1]) / splitElement2[1];
                    }
                    else if (selectedIndex == 4) {
                        var splitElement = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(selectedIndex).val().split(',');
                        var splitElement2 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(2).val().split(',');
                        var splitElement3 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(3).val().split(',');
                        var splitElement4 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(4).val().split(',');
                        quantity = ((((returnQty / splitElement[1]) / splitElement4[1]) / splitElement3[1]) / splitElement2[1]);
                    } else if (selectedIndex == 5) {
                        var splitElement = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(selectedIndex).val().split(',');
                        var splitElement2 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(2).val().split(',');
                        var splitElement3 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(3).val().split(',');
                        var splitElement4 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(4).val().split(',');
                        var splitElement5 = $('#returnItemTable tr').eq(ind).find('select.item-unit option').eq(5).val().split(',');
                        quantity = ((((returnQty / splitElement[1]) / splitElement5[1]) / splitElement4[1]) / splitElement3[1]) / splitElement2;
                    }
                    if (quantity > Number(stockBalance)) {
                        alert("Return quantity must be smaller or equal to balance.");
                        $('#returnItemTable tr').eq(ind).find('input.return-qty').focus();
                        $('#returnItemTable tr').eq(ind).find('input.return-qty').val(0);
                        return;
                    }
                }
            }
        }

        function submitReturnItem() {
            var inventories = [];
            var item_element = {};
            var warehouses = $('.warehouse');
            var items = $('.item-id');
            var stockBalances = $('.stock-balance');
            var returnQtys = $('.return-qty');
            var remarks = $('.remark');
            var suppliers = $('.supplier');
            var units = $('.item-unit');
            var invoiceNumbers = $('.invoice_number');
            var invoiceDates = $('.invoice_date');
            var countInvalid = 0;

            for (var i = 0; i < items.length; i++) {
                var splitUnit = (units[i].value).split(',');
                if (warehouses[i].value && items[i] && stockBalances[i].innerHTML && returnQtys[i].value) { //&& Number(stockBalances[i].innerHTML) > Number(returnQtys[i].value)
                    item_element = {};
                    item_element.warehouse_id = warehouses[i].value;
                    item_element.product_id = items[i].value;
                    item_element.total_quantity = stockBalances[i].innerHTML;
                    item_element.out_quantity = returnQtys[i].value;
                    item_element.remark = remarks[i].value;
                    item_element.supplier_id = suppliers[i].value;
                    item_element.unit = splitUnit[0].trim();
                    item_element.invoice_number = invoiceNumbers[i].value;
                    item_element.invoice_date = convertDDMMYYYtoMMDDYYYY(invoiceDates[i].value);
                    inventories.push(item_element);
                }
                else {
                    countInvalid++;
                }
            }
            if (countInvalid > 0) {
                alert("Please select warehouse,supplier and fill in return qty");
                return;
            }

            var model = {
                itemReturnNumber: $('#itemReturnNumber').text(),
                inventories: inventories,
            };

            $.ajax({
                url: "/ItemReturn/Create",
                type: "post",
                dataType: "json",
                async: false,
                data: { model: model },
                success: function (da) {
                    if (da.result == "success") {
                        $.notify('Your data has been saved!', { className: 'success' });
                        window.location.href = '@Url.Action("Index")';
                    } else if (da.result == "error") {
                        alert(da.message);
                    }
                },
                error: function (err) {
                    $.notify('Your data is error while saving!', { className: 'error' });
                }
            });
        }


        //add new
        //function GetItemDataRow(ind, item_class, boq_id, job_category_id, product_id) {
        //    if (product_id != "") {
        //        $.ajax({
        //            url: '/ItemReturn/GetProductDataByCode',
        //            type: "get",
        //            dataType: "json",
        //            async: false,
        //            data: { id: product_id },
        //            success: function (da) {
        //                $('#ir_table tr').eq(ind).find('select.item-unit').empty().append("<option disabled selected>Select Unit</option>");
        //                if (da.data) {
        //                    var item = da.data;
        //                    console.log(item);
        //                    $('#ir_table tr').eq(ind).find('input.item_code').val(item.product_code);
        //                    $('#ir_table tr').eq(ind).find('input.item_id').val(item.product_id);
        //                    $('#ir_table tr').eq(ind).find('input.item_name').val(item.product_name);
        //                    $('#ir_table tr').eq(ind).find('input.ir_qty').val(parseFloat(0).toFixed(2));

        //                    $('#ir_table tr').eq(ind).find('select.item-unit').append("<option value='" + item.product_unit + "'>" + item.product_unit + "</option>");
        //                    if (item.uom1_id && item.uom1_qty) {
        //                        $('#ir_table tr').eq(ind).find('select.item-unit').append("<option value='" + item.uom1_id + "'>" + item.uom1_id + "</option>");
        //                    }
        //                    if (item.uom2_id && item.uom2_qty) {
        //                        $('#ir_table tr').eq(ind).find('select.item-unit').append("<option value='" + item.uom2_id + "'>" + item.uom2_id + "</option>");
        //                    }
        //                    if (item.uom3_id && item.uom3_qty) {
        //                        $('#ir_table tr').eq(ind).find('select.item-unit').append("<option value='" + item.uom3_id + "'>" + item.uom3_id + "</option>");
        //                    }
        //                    if (item.uom4_id && item.uom4_qty) {
        //                        $('#ir_table tr').eq(ind).find('select.item-unit').append("<option value='" + item.uom4_id + "'>" + item.uom4_id + "</option>");
        //                    }
        //                    if (item.uom5_id && item.uom5_qty) {
        //                        $('#ir_table tr').eq(ind).find('select.item-unit').append("<option value='" + item.uom5_id + "'>" + item.uom5_id + "</option>");
        //                    }
        //                } else {
        //                    $('#ir_table tr').eq(ind).find('input.item_id').val(' ');
        //                    $('#ir_table tr').eq(ind).find('input.item_name').val(' ');
        //                    $('#ir_table tr').eq(ind).find('input.ir_qty').val(parseFloat(0).toFixed(2));
        //                }
        //            },
        //            error: function (XMLHttpRequest, textStatus, errorThrown) {
        //                $('#ir_table tr').eq(ind).find('select.item-unit').empty().append("<option disabled selected>Select Unit</option>");
        //                $('#ir_table tr').eq(ind).find('input.item_id').val(' ');
        //                $('#ir_table tr').eq(ind).find('input.item_name').val(' ');
        //                $('#ir_table tr').eq(ind).find('input.ir_qty').val(parseFloat(0).toFixed(2));
        //                alert(textStatus);
        //            }
        //        });
        //    }
        //}
    </script>
}

