@model BT_KimMex.Models.ClassViewModel
@using BT_KimMex.Class;
@{
    ViewBag.Title = "Edit";
}

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

<div class="form-horizontal">
    <h3 class="title">Edit Group</h3>
    @Html.ValidationSummary(true, "", new { @class = "text-danger" })
    @Html.HiddenFor(model => model.class_id)

    <div class="form-group">
        <label class="control-label col-md-2">Class Type <strong style="color:red;">*</strong> :</label>
        <div class="col-md-10">
            @{
                var classTypes = (List<SelectListItem>)ViewBag.ClassTypes;
            }
            @*@Html.DropDownListFor(model => model.class_type_id, classTypes,new { id = "class_type_id", name = "class_type_id", @class = "form-control" })*@
            @Html.DropDownList("class_type_id", new SelectList(CommonFunctions.GetClassTypeListItems(), "class_type_id", "class_type_name", Model.class_type_id), new { id = "class_type_id", @class = "form-control" })
            @Html.ValidationMessageFor(model => model.class_type_id, "", new { @class = "text-danger", style = "display:block !important;" })
        </div>
    </div>
    <div class="form-group">

        <label class="control-label col-md-2">Group Code <strong style="color:red;">*</strong> :</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.class_code, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.class_code, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">

        <label class="control-label col-md-2">Group Name <strong style="color:red;">*</strong> :</label>
        <div class="col-md-10">
            @Html.EditorFor(model => model.class_name, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.class_name, "", new { @class = "text-danger" })
        </div>
    </div>
    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Save" class="btn btn-info" />
            <a href="@Url.Action("Index","Class")" class="w3-button w3-tiny w3-red">Back</a>
        </div>
    </div>
</div>
                    }


@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
