@model IEnumerable<BT_KimMex.Models.ErrorLogViewModel>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.created_at)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.class_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.method_name)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.information_type)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.exception)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.message)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.created_at)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.class_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.method_name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.information_type)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.exception)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.message)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.error_id }) |
            @Html.ActionLink("Details", "Details", new { id=item.error_id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.error_id })
        </td>
    </tr>
}

</table>
